@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #333;
    
}
body {
    
    height: 3162px;
    width: 1366px;
    
    
    margin: 0 auto;
}



.head {
    padding: 20px 0;
    display: flex;
    
}

.head > * {
    flex-shrink: 0;
}

.head .logo {
    height: 60px;
    width: 200px;
    background-color: #e2e2e2;
    border: 0;
    border-radius: 8px;
    margin-left: 83px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.head .menu {
    width: 820px;
    height: 34px;
    background-color: #e2e2e2;
    border: 0;
    border-radius: 8px;
    margin: auto 30px;

    display: flex;
    align-items: center;
    justify-content: center;
}
.head button {
    width: 120px;
    height: 42px;
    background-color: #e2e2e2;
    border: 0;
    border-radius: 8px;
    margin: auto 0;

    display: flex;
    align-items: center;
    justify-content: center;

    margin-right: 83px;
}

.main1 {
    width: 1366px;
    height: 680px;
    background-color: #f1f1f1;
    display: flex;
    padding: 80px 83px;
    margin-left: -1px;
    
}
.main1 > * {
    flex-shrink: 0;
}

.main1 .content {
    width: 585px;
    height: 267px;
    background-color: #e2e2e2;
    border: 0;
    border-radius: 8px;

    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;

    margin: auto 0;
}

.main1 .img {
    width: 585px;
    height: 520px;
    background-color: #e2e2e2;
    border: 0;
    border-radius: 8px;
    
    display: flex;
    align-items: center;
    justify-content: center;

    margin-left: 30px;


}

.main2 {
    padding: 80px 83px;
}
.main2 >* {
    flex-shrink: 0;
}


.title {
    width: 600px;
    height: 80px;
    background-color: #e2e2e2;
    border: 0;
    border-radius: 8px;

    display: flex;
    align-items: center;
    justify-content: center;

    margin: 0 auto;
    margin-bottom: 40px;
}

.title > * {
    flex-shrink: 0;
}


.main2 section {
    display: flex;
    flex-shrink: 0;
    
}
.down {
    margin-top: 30px;
}

.it {
    width: 380px;
    height: 420px;
    background-color: #e2e2e2;
    border: 0;
    border-radius: 8px;
    margin-right: 30px;

    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
}



.main3 {
    width: 1366px;
    height: 580px;

    background-color: #f1f1f1;
    padding: 80px 83px;
}

.main3 section{
    display: flex;
    flex-shrink: 0;
}

.main3 section p{
    width: 216px;
    height: 300px;
}

.main4 {
    padding: 80px 83px;
}

.main4 section{
    display: flex;
}

.main4 section p {
    width: 277.5px;
    height: 300px;
}

footer {
    height: 72px;
    background-color: #d9d9d9;

    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
}